<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
	
	
		<listeners>
			<listener class-name="com.p360.utilities.ExtentReport"></listener>
		</listeners>
		 
		<test thread-count="5" name="P360_UI_USER_MODULE">
		  
		 <parameter name="browser" value="chrome"></parameter>
		    
		    <classes>
			  
			   <!-- =======USER P360  WEBSITE TESTING========= -->
			    
		     <!-- <class name="com.p360.testCases.TC_Home"/>-->
		     
			 <class name="com.p360.testCases.TC_Membership"/>
		      
		     	<!--<class name="com.p360.testCases.TC_Classes"/>-->
		   
		 	<!--<class name="com.p360.testCases.TC_AllInOne_UserModule"/>-->
		 	
		 <!--	<class name="com.p360.testCases.TC_UserModule"/>-->
		 	
		      
		    <!--  <class name="com.p360.testCases.TC_Logout"/>--> 
		      
		      <!-- =========MAIN P360  WEBSITE TESTING========== -->
		
		   <!-- <class name="com.p360.Main.testCases.TC_Main_Home"/>-->
		     
		   <!-- <class name="com.p360.Main.testCases.TC_Main_Users"/>-->
		     
		    <!--<class name="com.p360.Main.testCases.TC_Main_Packages"/>-->
		    
		   <!-- <class name="com.p360.Main.testCases.TC_Main_Locations"/>-->
		   
		  	 	<!--<class name="com.p360.Main.testCases.TC_Main_Classes"/>-->
		  	 	
		  	 	<!--<class name="com.p360.Main.testCases.TC_Main_Coaches"/>-->
		     
		     
		    </classes>
		    
	    </test> <!-- Test -->
	    
</suite> <!-- Suite -->
